backend/unit-service/src/main/resources/xsd_schemas/infantery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="infantery">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="soldier" maxOccurs="3000">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="rank" type="xs:string"/>
                            <xs:element name="role" type="xs:string"/>
                            <xs:element name="password" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>